<section class="patterns-pattern" id="{{slug}}">
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <div class="example card card-block">
        {{{example}}}
    </div>
    <pre><code>{{example}}</code></pre>
</section>
