<section class="patterns-pattern" id="{{slug}}">
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <div class="example card card-block">
        {{{example}}}
    </div>
    <pre>
        <code class="language-html line-numbers">{{example}}</code>
    </pre>
</section>
