<section class="patterns-pattern" id="{{slug}}">
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <div class="patterns-example card card-title">
        <div class="card-body card-block">
            {{{example}}}
        </div>
    </div>
    <pre class="patterns-code"><code>{{example}}</code></pre>
</section>
